@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;

	--color-secondary-50: #f0f9ff;
	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
}

@source '../../node_modules/flowbite-svelte/dist';
@source '../../node_modules/flowbite-svelte-icons/dist';

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	/* Disable horizontal scroll on mobile */
	html,
	body {
		overflow-x: hidden;
	}

	/* Ensure no elements overflow viewport width */
	body {
		width: 100vw;
		max-width: 100%;
	}
}

@font-face {
	font-family: 'Grotap'; /* You can choose any name for your font */
	src:
		url('/fonts/Grotap-Font/grotap-black.otf') format('opentype'),
		url('/fonts/Grotap-Font/grotap-bold.otf') format('opentype'),
		url('/fonts/Grotap-Font/grotap-extrabold.otf') format('opentype'),
		url('/fonts/Grotap-Font/grotap-light.otf') format('opentype'),
		url('/fonts/Grotap-Font/grotap-regular.otf') format('opentype'),
		url('/fonts/Grotap-Font/grotap-medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham'; /* You can choose any name for your font */
	src:
		url('/fonts/Gotham-Font/Gotham-Black.otf') format('opentype'),
		url('/fonts/Gotham-Font/Gotham-Bold.otf') format('opentype'),
		url('/fonts/Gotham-Font/Gotham-Light.otf') format('opentype'),
		url('/fonts/Gotham-Font/Gotham-Thin.otf') format('opentype'),
		url('/fonts/Gotham-Font/Gotham-XLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DancingScript'; /* You can choose any name for your font */
	src:
		url('fonts/Dancing_Script/static/DancingScript-Bold.ttf') format('opentype'),
		url('fonts/Dancing_Script/static/DancingScript-Medium.ttf') format('opentype'),
		url('fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('opentype'),
		url('fonts/Dancing_Script/static/DancingScript-SemiBold.ttf') format('opentype'),
		url('fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

/* Apply the custom font globally */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Dancing Script', cursive;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

body,
p {
	font-family: 'Poppins', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

input,
button,
textarea,
a {
	font-family: 'Poppins', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.poppins-thin {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: italic;
}
